<form class="form-signin">
    <h2 class="form-signin-heading">Please Reset Password</h2>
    <label for="inputOldPassword" class="sr-only">Old Password:</label>
    <input type="password" id="inputOldPassword" class="form-control" placeholder="Old Password" required autofocus
           data-ng-model="resetAccount.oldPassword">
    <label for="inputNewPassword" class="sr-only">New Password</label>
    <input type="password" id="inputNewPassword" class="form-control" placeholder="New Password" required
           data-ng-model="resetAccount.newPassword">
    <label for="confrimpassword" class="sr-only">Confirm Password</label>
    <input type="password" id="confrimpassword" class="form-control" placeholder="Confirm Password" required
           data-ng-model="resetAccount.confirmPassword">

    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="button" data-ng-click="reset()">Confirm</button>
</form>