<div>
    <a href="#/newContact">Add</a>

    <table class="table table-hover">
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>City</th>
            <th>Mobile</th>
            <th>Edit</th>
            <th>Del</th>
        </tr>
        <tr data-ng-repeat="contact in contacts">
            <td>
                {{contact.firstName}}
            </td>
            <td>
                {{contact.lastName}}
            </td>
            <td>
                {{contact.email}}
            </td>
            <td>
                {{contact.city}}
            </td>
            <td>
                {{contact.mobile}}
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-block" data-ng-click="editJumpPage(contact)">Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-block" data-ng-click="deleteContact(contact)">Delete
                </button>
            </td>
        </tr>
    </table>

</div>